<!DOCTYPE html>

<html lang="pt-br">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title></title>
	<!--CSS-->
	<link rel="stylesheet" href="css/style.css" />
	<!--Googlefonts-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap"
		rel="stylesheet">
</head>

<!-- cabecalho -->
<header th:fragment="cabecalho">   	
	<nav class="menu-navegacao">
		<div class="navegacao-titulo">
			<h4 class="titulo">TSO Sistema Aluno</h4>
		</div>
		<ul class="lista-navegacao">
			<li class="item-navegacao"><a class="link-navegacao" th:href="@{/index}">Home</a>
			<li class="item-navegacao"><a class="link-navegacao" th:href="@{/formulario}">Cadastra Aluno</a>
			<li class="item-navegacao"><a class="link-navegacao" th:href="@{/lista-alunos}">Pesquisar Aluno</a>
			<li class="item-navegacao"><a class="link-navegacao" th:href="@{/status}">Pesquisar Situação</a>
			<li class="item-navegacao"><a class="link-navegacao nav-sair" th:href="@{/}">Sair</a>
		</ul>
	</nav>
</header>

<!-- rodape -->
<footer th:fragment="rodape" class="footer">
	<span>Todos os direitos reservados - 2022 &copy; Tiago Silva</span>
</footer>

</html>