* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: linear-gradient( #161616, lightgray , lightgrey);
	height: 100%;
}

/* cabecalho */
.menu-navegacao {
	background-color: #161616;
	display: flex;
	padding: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
	
}

.navegacao-titulo {
	color: #fff;
}

.lista-navegacao {
	display: flex;
	
}

.item-navegacao {
	list-style: none;
}

.link-navegacao {
	color: #fff;
	text-decoration: none;
	margin-left: 20px;
	font-weight: bold;
	font-size: 16px;
}

.link-navegacao:hover {
	color: rgba(255,255,255, 0.5);
	
}

/* secao lista alunos*/
.titulo-lista {
	text-align: center;
    color: #fff;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 39px;
}

.campo-titulo {
	margin-top: 33px;
	margin-bottom: 33px;
}

.form-pesquisar {
	display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    margin-bottom: 19px;
}

.label-pesquisar {
	color: lightgray;
    font-weight: bold;
    margin-right: 12px;
}

.input-pesquisar {
	border-radius: 6px;
    border: none;	
}

.botao-pesquisar {
	background: darkgray;
    width: 81px;
    padding: 1px;
    border: none;
    margin-left: 24px;
}

/* responsive */
@media only screen and (max-width: 866px) {
	
	.menu-navegacao{
		display: block;
		width: 100%;
	}
	
	.navegacao-titulo {
		text-align: center;
	}
	
}

@media only screen and (max-width: 644px) {
	.lista-navegacao {
		display:block;
		width: 100%;
		text-align: center;
	}
	
	.item-navegacao {
		padding: 10px;
	}
	
	.titulo-secao {
		text-align: center;
	}
	
	.conteudo-secao {
		position: relative;
	}
}