<!DOCTYPE html>

<html lang="pt-br">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Cadastro de Aluno</title>
	<!--BootStrap-->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
	<!--CSS-->
	<link rel="stylesheet" href="css/formularioCadastro.css" />
	<!--Googlefonts-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap"
		rel="stylesheet">
</head>

<body>

	<!-- cabecalho -->
	<div th:replace="Fragmentos/fragmentos :: cabecalho"></div>	

	<!-- secao formulario -->
	<div class="secao-formulario">
		<div class="formulario">
			<form th:object="${aluno}" action="/cadastro-formulario" method="POST" class="formulario-cadastro">
				<div>
					<h3 class="titulo-formulario">Formulário de Cadastro do Aluno</h3>
					<hr>
				</div>
				<!-- nome -->
				<div class="form-nome">
					<label for="inputNome">Digite o Nome:</label>
					<input th:field="*{nome}" type="text" class="input-nome" id="inputNome" placeholder="Digite o nome completo">
					<div class="col-auto alert alert-danger" role="alert" th:if="${#fields.hasErrors('nome')}">
						<span class="erro-nome" for="inputNome" th:errors="*{nome}"></span>
					</div>
				</div>
				
				<!-- curso -->
				<div class="form-curso">
					<label for="cursoSelect">Selecione o Curso:</label>
					<select th:field="*{curso}" id="cursoSelect" class="input-curso curso-input">
						<option th:each="cursos : ${T(com.gerenciamento.model.CursoEnum).values()}"
							th:value="${cursos}" th:text="${cursos}">
						</option>
					</select>
				</div>
				
				<!-- Matricula -->
				<div class="form-matricula">
					<div class="matricula-form">
						<label for="inputMatricula" class="label-matricula">Matrícula:</label>
						<input th:field="*{matricula}" type="text" id="inputMatricula" class="input-matricula">					
						<button type="button" onclick="gerarMatricula();" class="botao-gerar-matricula">Gerar Matrícula</button>
					</div>
					<div class="col-auto alert alert-danger erro-matricula" role="alert" th:if="${#fields.hasErrors('matricula')}">
						<span class="erro-nome" for="inputMatricula" th:errors="*{matricula}"></span>
					</div>
				</div>
				
				
				<!-- Situacao -->
						<div class="form-situacao">
							<label for="statusSelect" class="">Situação do Aluno: </label>
							<select th:field="*{situacao}" id="statusSelect" class="situacao-input">
								<option th:each="status : ${T(com.gerenciamento.model.SituacaoEnum).values()}"
								th:value="${status}" th:text="${status}">
								</option>
							</select>
						</div>
					
					<!-- Turno -->
						<div class="form-turno">
							<label for="turnoSelect" class="">Turno: </label>
							<select th:field="*{turno}" id="turnoSelect" class="turno-input">
								<option th:each="tempo : ${T(com.gerenciamento.model.TurnoEnum).values()}"
								th:value="${tempo}" th:text="${tempo}"></option>
							</select>
						</div>
						<div class="botao-submit-cadastra">
							<button type="submit" class="botao-cadastra">Cadastrar</button>
						</div>
				</div>
			</form>
		<div>
	</div>
	
	<!-- importando biblioteca javascript local -->
	<script src="js/main.js"></script>
</body>

</html>